#container {
  margin: 8px auto;
  padding: clamp(8px, 2.7vw, 20px);
}

#grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: clamp(3px, 0.8vw, 6px);
  max-width: 696px;
  margin: 0 auto;
}

.grid-row {
  display: contents;
}

.grid-cell {
  aspect-ratio: 9 / 10;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.grid-cell:nth-child(-n+4) { background: #096498; }
.grid-cell:nth-child(5)    { background: #451695; }
.grid-cell:nth-child(n+6)  { background: #b60144; }

.grid-cell.empty { background: transparent; }

.grid-cell:not(.empty):empty { opacity: 0.2; }

#attribution {
  text-align: center;
  margin-top: 64px;
  font-size: 12px;
  opacity: 0.3;
}

.cell-zhuyin {
  font-size: clamp(14px, 4.9vw, 36px);
  line-height: 1;
}

.cell-english {
  font-size: clamp(7px, 1.6vw, 12px);
  opacity: 0.75;
}

#grid.hide-english .cell-english {
  visibility: hidden;
}
