

/* hide selection */

::selection {
  color: #0000;
  background: #0000;
}

body.debug ::selection {
  color: #fff;
  background: #fff4;
}

/* container */

#display-characters {
  display: flex;
  flex-wrap: wrap;
  padding: 62px;
}

/* cursor */

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#display-characters #cursor {
  height: 62px;
  margin-top: 8px;
  width: 2px;
  background: #ffffff9a;
  margin-right: -2px;
  animation: blink 1.6s infinite alternate;
}

/* hidden input */

#hidden-input {
  background: none;
  color: #0000;
  border-radius: 4px;
  outline: none;
  border: none;
  left: 50%;
  margin-left: -240px;
  position: fixed;
  text-align: center;
}

body.debug #hidden-input {
  background: #fff2;
  color: #fff;
}

/* settings */

#settings {
  position: fixed;
  display: flex;
  bottom: 16px;
  justify-content: center;
  opacity: 0.2;
  width: 100%;
  gap: 64px;
}