#container {
  margin: 140px auto;
  width: 80%;
}

#container #display-characters {
  display: flex;
  justify-content: center;
}

#container #english {
  text-align: center;
  width: 100%;
  color: #999;
}

#settings {
  position: fixed;
  top: 0;
    left: 0;
  width: 100%;
  padding: 12px;
  font-size: 10px;
  text-align: right;
}

#actions {
  position: fixed;
  bottom: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 800px;
  transform: translateX(-50%);
}

#actions .action {
  width: 33%;
  text-align: center;
  padding: 12px;
}

/* Character mod */

.pinyin {
  color: #0000 !important;
}

.hidden {
  color: #0000 !important;
  visibility: hidden;
  opacity: 0;
}
