/* utils */

.no-pointer {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* body */

body {
  background: #1c1c1c;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

/* base ui */

div {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 18px 0 12px;
  padding: 0;
}

a {
  color: #fff;
  cursor: pointer;
}

li {
  margin-bottom: 10px;
}

p {
  color: #ccc;
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

#header a {
  min-width: 0;
  text-align: center;
}

/* CHARACTER */

/* character */

.character {
  height: 100px;
  position: relative;
  box-sizing: border-box;
  min-width: 30px;
}

/* hitbox */

.character .hitbox-holder {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 100;
}

.character .hitbox-holder .hitbox {
  width: 50%;
  height: 100%;
}

/* highlight */

.character .highlight {
  position: absolute;
  height: 62px;
  margin-top: 8px;
  width: 100%;
}

.character .highlight.selected {
  background: #ffffff2f;
}

/* non-hanzi */

.character.non-hanzi {
  width: fit-content;
}

.character.non-hanzi .text {
  font-size: 54px;
  text-align: center;
}

/* hanzi */

.character.hanzi {
  width: 100px;
  padding-right: 16px;
}

.character.hanzi .hanzi {
  font-size: 54px;
  text-align: center;
}

.character.hanzi .pinyin {
  font-size: 14px;
  text-align: center;
  color: #999;
  margin-top: -6px;
}

.character.hanzi .zhuyin-holder {
  position: absolute;
  top: 0;
  right: 10px;
  height: 78px;
  display: flex;
  align-items: center;
}

.character.hanzi .zhuyin-holder .zhuyin {
  position: relative;
  font-size: 18px;
  color: #999;
  writing-mode: vertical-lr;
}

.character.hanzi .zhuyin-holder .zhuyin .tone {
  position: absolute;
  bottom: 0px;
  left: 22px;
  writing-mode: lr;
}

input[type="checkbox"] {
  accent-color: #999;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #999 !important;
}

input[type="checkbox"]:checked + label a {
  text-decoration: line-through;
  color: #999 !important;
}
