#actions {
  position: fixed;
  bottom: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 800px;
  transform: translateX(-50%);
}

#actions .action {
  width: 33%;
  text-align: center;
  padding: 12px;
}
