/* utils */

.no-pointer {
  pointer-events: none;
}

/* global */

::selection {
  color: #0000;
  background: #0000;
}

body.debug ::selection {
  color: #fff;
  background: #fff4;
}

/* body */

body {
  background: #1c1c1c;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

#display-characters {
  display: flex;
  flex-wrap: wrap;
  padding: 62px;
}

/* cursor */

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#display-characters #cursor {
  height: 60px;
  margin-top: 12px;
  width: 2px;
  background: #ffffff9a;
  margin-right: -2px;
  animation: blink 1.6s infinite alternate;
}

/* character */

#display-characters .character {
  height: 100px;
  position: relative;
  box-sizing: border-box;
}

/* hitbox */

#display-characters .character .hitbox-holder {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

#display-characters .character .hitbox-holder .hitbox {
  width: 50%;
  height: 100%;
}

/* non-hanzi */

#display-characters .character.non-hanzi {
  width: fit-content;
}

#display-characters .character.non-hanzi .text {
  font-size: 54px;
  text-align: left;
}

/* hanzi */

#display-characters .character.hanzi {
  width: 100px;
  padding-right: 16px;
}

#display-characters .character.hanzi .hanzi {
  font-size: 54px;
  text-align: center;
}

#display-characters .character.hanzi .pinyin {
  font-size: 14px;
  text-align: center;
  color: #999;
  margin-top: -6px;
}

#display-characters .character.hanzi .zhuyin-holder {
  position: absolute;
  top: 0;
  right: 10px;
  height: 78px;
  display: flex;
  align-items: center;
}

#display-characters .character.hanzi .zhuyin-holder .zhuyin {
  position: relative;
  font-size: 18px;
  color: #999;
  writing-mode: vertical-lr;
}

#display-characters .character.hanzi .zhuyin-holder .zhuyin .tone {
  position: absolute;
  bottom: 0px;
  left: 22px;
  writing-mode: lr;
}

#hidden-input {
  background: none;
  color: #0000;
  border-radius: 4px;
  outline: none;
  border: none;
  left: 50%;
  margin-left: -240px;
  position: fixed;
  text-align: center;
}

body.debug #hidden-input {
  background: #fff2;
  color: #fff;
}

#settings {
  position: fixed;
  display: flex;
  bottom: 16px;
  justify-content: center;
  opacity: 0.2;
  width: 100%;
  gap: 64px;
}

#settings a {
  cursor: pointer;
}