body {
  background: #1c1c1c;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

#display-characters {
  display: flex;
  flex-wrap: wrap;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#display-characters #cursor {
  height: 60px;
  margin-top: 20px;
  width: 2px;
  background: #ffffff2e;
  margin-right: -2px;
  animation: blink 0.7s infinite alternate;
}

#display-characters .character {
  width: 100px;
  height: 100px;
  position: relative;
  padding-right: 16px;
  box-sizing: border-box;
}

#display-characters .character .hanzi {
  font-size: 54px;
  text-align: center;
}

#display-characters .character .pinyin {
  font-size: 14px;
  text-align: center;
  color: #999;
  margin-top: -6px;
}

#display-characters .character .zhuyin-holder {
  position: absolute;
  top: 0;
  right: 10px;
  height: 78px;
  display: flex;
  align-items: center;
}

#display-characters .character .zhuyin-holder .zhuyin {
  position: relative;
  font-size: 18px;
  color: #999;
  writing-mode: vertical-lr;
}

#display-characters .character .zhuyin-holder .zhuyin .tone {
  position: absolute;
  bottom: 0px;
  left: 22px;
  writing-mode: lr;
}
