#container {
  margin: 140px auto;
  width: 80%;
}

#container #count {
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #999;
  margin-bottom: 12px;
}

#container #hanzi {
  text-align: center;
  width: 100%;
  font-size: 48px;
}

#container #pinyin {
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #aaa;
}

#container #english {
  text-align: center;
  width: 100%;
  color: #999;
}

#actions {
  position: fixed;
  bottom: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 800px;
  transform: translateX(-50%);
}

#actions .action {
  width: 33%;
  text-align: center;
  padding: 12px;
}

/* Character mod */

.hidden {
  color: #0000 !important;
  visibility: hidden;
  opacity: 0;
}
