/* general */

.hidden {
  color: #0000 !important;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* modal */

#modal {
  background: #1c1c1cef;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  padding: 24px;
  overflow-y: scroll;
}

#modal .modal-content {
  margin: 64px auto;
  max-width: 420px;
}

#modal .modal-content a {
  text-decoration: underline;
}

/* container */

#container {
  margin: 140px auto;
  width: 80%;
}

#container #count {
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #999;
  margin-bottom: 12px;
}

#container #hanzi {
  text-align: center;
  width: 100%;
  font-size: 48px;
}

#container #pinyin {
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #aaa;
}

#container #english {
  margin-top: 24px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #999;
}

/* actions */

#actions {
  position: fixed;
  bottom: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 800px;
  transform: translateX(-50%);
}

#actions .action {
  width: 33%;
  text-align: center;
  padding: 12px;
}
